---
# Needed front matter YAML -do not remove-
---
@charset "UTF-8";

$headerFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$headerFontWeight: bold;
$headerFontColor: #222;
$bodyFontFamily:  "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$bodyFontWeight: normal;
//$bodyFontColor: $txtColor;

@import "foundation/scss/normalize",
        "foundation/scss/foundation",
        "custom",
        "syntax-highlighting";
