<div id="author-avatar" class="medium-8 columns">
    <div id="author-avatar" class="medium-2 columns show-for-medium-up">
        <img style="margin-top:10px;border-radius:2px;" alt="istepaniuk" src="/img/avatar.jpg">
    </div>
    <div id="author-description" class="medium-10 columns">
        <h4>About Iván Stepaniuk</h4>
        <p>I have been creating software for more than fifteen years in a wide variety of stacks, languages and platforms. I advocate <a target="_blank" href="http://manifesto.softwarecraftsmanship.org ">Software Craftsmanship</a> and the <a target="_blank" href="http://agilemanifesto.org/">Agile Manifesto</a>, this has been a great motivation and helps me to continuously reinvent myself as a better developer that makes better quality software.</p>
        <a href="/about/">See my about page </a> and <a href="https://plus.google.com/109528219227375270162?rel=author">Google+</a>
        <div id="author-link">
            <a href="http://blog.istepaniuk.com/about/" rel="author">
        </div>
    </div>
</div>
